.imagemFundo { 

    width: 100%;

 }

 .botaoverificar{

position: relative;
  outline: none;
  text-decoration: none;
  color:rgb(245, 237, 245);
  border-radius: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 110px;
  opacity: 1;
  background-color: #11aef7;
  border: 1px solid rgba(12, 12, 12, 0.6);
 }

.origem{
    color: rgb(75, 74, 74);
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;

}
                                                                                                                                                                                                                                                                                                                                                                                                 
.destino{
    color: rgb(75, 74, 74);
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;
}

.ida{
    color: rgb(75, 74, 74);
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;
}
.volta{
    color: rgb(75, 74, 74);
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;
}

.container-busca{
    position: absolute;
    top:10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    align-items: center;
}

.container-busca1{
    position: relative;
}