
.logoAzul {
    justify-content: right;
  }

  .telefone{

    color: rgb(11, 76, 253);
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;

}

.acessoLogin{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    max-width: 90vw;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all;
    color: rgb(15, 193, 199);

}

.acessoCadastro{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    max-width: 80vw;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    transition: all;
    color: rgb(12, 188, 201);




}


.container-acesso{
    display: inline-block;
    float: right;
    margin-right: 5%;
    margin-top: 2%
}

