
.Promocao{
    font-family: fantasy;
    color: rgb(5, 3, 75);
    text-align: center;
    font-size: 30PX;
}
.pacoteTodos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    height: 200px;
    border-radius: 8px;
    width: 25%;
    display: inline-block;
    padding-right: 5%;
}
.nomeTodos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(75, 74, 74);
}
.valorTodos{
    font-family: fantasy;
    color: rgb(75, 74, 74);
}

.valorTodos1{
    font-family: fantasy;
    color: rgb(9, 160, 248);
}
.container-Vitrine{
    display: inline-block;
     
}

.pacote-container{
    display: inline-block;
    max-width: 30%;
    padding-right: 20% ;
    align-content: center;
 
}